@model IEnumerable<Compugem.Models.OrderViewModel>

@{
    ViewBag.Title = "Home Page";
    int anterior;
    int siguiente;

    if (ViewBag.pageNumber == 1)
    {
        anterior = ViewBag.pageNumber;
    }
    else
    {
        anterior = ViewBag.pageNumber - 1;
    }
    siguiente = ViewBag.pageNumber + 1;
}

<input type="button" value="Anterior" onclick="location.href='<%: Url.Action("Index", "Home" ) %>'" />
<input type="button" value="Siguiente" onclick="location.href='<%: Url.Action("Index", "Home" ) %>'" />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @(item.OrderDate.ToString("yyyy-MM-dd"))
            </td>
        </tr>
    }

</table>